* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(217, 54%, 11%);
  padding: 1.5rem;
  font-family: "outfit", sans-serif;
  min-height: 100vh;
}

main {
  display: grid;
  place-items: center;
  min-height: 90vh;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

a:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card {
  background: hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 12px;

  width: 100%;
  max-width: 350px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.image-box > img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.card .image-box {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 255, 247, 0.5);
  border-radius: 12px;
}

.overlay img {
  width: 20%;
}

.image-box:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.card p {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 1.1rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.info .ethereum {
  color: hsl(178, 100%, 50%);
}

.info .time {
  color: hsl(215, 51%, 70%);
}

.info span img {
  width: 0.8rem;
  height: auto;
}

.info .time img {
  width: 1rem;
}

.credit {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid hsl(215, 32%, 27%);
  padding: 10px 0;
}

.credit img {
  width: 30px;
  height: auto;
  border: 1px solid #fff;
  border-radius: 50%;
  flex-shrink: 0;
}

.credit a:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  padding: 10px;
  font-size: 11px;
  text-align: center;
  color: #fff;
}
/* .attribution a {
        color: hsl(228, 45%, 44%);
      } */

@media (min-width: 768px) {
  .card {
    box-shadow:
      0 30px 25px 6px rgba(0, 0, 0, 0.6),
      0 0 20px rgba(0, 0, 0, 0.2);
  }
}
